/* ######### CSS for Shade Tabs. Remove if not using ######### */
body, h1, h2, h3, h4, h5	{ margin:0; padding:0; }

.tabbing { width:910px; margin:40px auto;}

ul#tabbing_tabs {padding:0px 0 3px 0px; width:910px;background-color:#000;margin:0;}

.shadetabs li{display: inline; list-style-type:none; font:normal 13px/16px 'lucida_sansregular', Arial, Helvetica, sans-serif; color:#939393; }
.shadetabs li a{text-decoration: none; z-index: 1; height:50px; width:130px; text-align:center; display:block; float:left; background:url(../images/bg-sched-off.png) repeat-x; font:normal 13px/16px 'lucida_sansregular', Arial, Helvetica, sans-serif; color:#fff; padding:10px 0 0 0; overflow:hidden;  }
.shadetabs li a:visited{ font:normal 13px/16px 'lucida_sansregular', Arial, Helvetica, sans-serif; color:#CCC; text-decoration:none;}
.shadetabs li a:hover{background:url(../images/bg-sched-on.png) repeat-x; font:normal 13px/16px 'lucida_sansregular', Arial, Helvetica, sans-serif; color:#17b80b; text-decoration:none; }
.shadetabs li a.selected{ /*selected main tab style */background:url(../images/bg-sched-on.png) repeat-x; font:normal 13px/16px 'lucida_sansregular', Arial, Helvetica, sans-serif; color:#17b80b; text-decoration:none;}
.shadetabs li a.selected:hover{ /*selected main tab style */text-decoration: none;}

.tabcontent{display:none;width:910px; font:normal 11px Arial, Helvetica, sans-serif; color:#fff;}


@media print {
.tabcontent {display:block !important;}
}

#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7, #tab8 { clear:both; }

/* FONT */
@font-face {
    font-family: 'lucida_sansregular';
    src: url('../fonts/lsans-webfont.eot');
    src: url('../fonts/lsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsans-webfont.woff') format('woff'),
         url('../fonts/lsans-webfont.ttf') format('truetype'),
         url('../fonts/lsans-webfont.svg#lucida_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lucida_sansdemibold_roman';
    src: url('../fonts/lsansd-webfont.eot');
    src: url('../fonts/lsansd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsansd-webfont.woff') format('woff'),
         url('../fonts/lsansd-webfont.ttf') format('truetype'),
         url('../fonts/lsansd-webfont.svg#lucida_sansdemibold_roman') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lucida_sansitalic';
    src: url('../fonts/lsansi-webfont.eot');
    src: url('../fonts/lsansi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsansi-webfont.woff') format('woff'),
         url('../fonts/lsansi-webfont.ttf') format('truetype'),
         url('../fonts/lsansi-webfont.svg#lucida_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}