.cart-header-wrap {
    margin: auto;
    text-align: left;
    width: 900px;
}
.cart-page-header {
    margin: 19px 0 10px;
    text-align: left;
}
.cart-fh {
    height: 85px;
}
.cart-fh-support-phone, .cart-fh-support-lang {
    color: #BBBBBB;
}
.cart-fh-btc {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cart-fh-logo {
    background-repeat: no-repeat;
    height: 75px;
    margin: 10px 0;
    width: 175px;
}
.cart-steps, .cart-steps-noleft-marg {
    clear: both;
    height: 47px;
    margin: 35px 0 0 45px;
    position: relative;
    width: 370px;
}
.cart-steps-noleft-marg {
    margin-left: 33px;
}
.cart-step-active, .cart-step-inactive, .cart-step-complete {
    position: relative;
}
.cart-step-active, .cart-step-complete {
    background-color: #727272;
}
.cart-step-wrap {
    position: absolute;
}
.cart-step-active {
    background-color: #333333;
    border-radius: 17.5px 17.5px 17.5px 17.5px;
    color: #FFFFFF;
    height: 35px;
    left: -37px;
    line-height: 35px;
    text-align: center;
    top: -7px;
    width: 35px;
}
.cart-step-inactive {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    color: #BBBBBB;
    height: 20px;
    left: -30px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
.cart-step-complete {
    border: 0 none;
    border-radius: 11px 11px 11px 11px;
    color: #BBBBBB;
    height: 22px;
    left: -28px;
    line-height: 22px;
    text-align: center;
    width: 22px;
}
.cart-step-1 {
    left: 0;
}
.cart-step-2 {
    margin-left: 170px;
}
.cart-step-3 {
    margin-left: 340px;
}
.cart-step-4 {
    margin-left: 510px;
}
.cart-step-line-inactive, .cart-step-line-active {
    left: -20px;
    position: absolute;
    top: 10px;
    width: 165px;
}
.cart-step-line-active {
    border-bottom: 2px solid #727272;
}
.cart-step-line-inactive {
    border-bottom: 2px solid #BBBBBB;
}
.cart-step-text-active, .cart-step-text-inactive {
    left: -83px;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 130px;
}

a .cart-step-text-active{
color:#000000;
}

.cart-step-text-inactive {
    color: #C5C5C5;
    font-size: 13px;
}
.cart-sprt, .cart-sprt:link {
    background-image: url("//img1.wsimg.com/cart/icons/100005_payment_icons.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: middle;
}
.cart-truste {
    background-position: -1762px 0;
    height: 25px;
    width: 217px;
}